body{
    margin: 0 !important;
    
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;

}
.main{
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}
.name{
   color: white;
   z-index: 10;
   font-size: 90px;
   font-family: 'Raleway Dots', sans-serif !important;
   font-weight: 300;
}

.picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 57vh;
    padding: 0 200px;
}
.profile-border img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    background-color: rgba(128, 128, 128, 0.146);
    transform: rotate(50deg);

}
.background{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    opacity: 0.3;
    position: absolute;
}
.info{
    display: flex;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.346);
    padding: 0 70px;
    height: 35vh;
}
.info div{
    width: 250px;
    z-index: 20;
    padding-top: 15px;
}
hr{
    width: 50px;
    margin-left: 0px;
    border-color: red;
}
.hobbies ul, .language ul{
    padding: 0;
    margin: 17px !important;
    line-height: 30px;
    font-weight: 300;
    font-size: 15px;
}
.hobbies ul span, .language ul span, .education span, .personal-info span{
    font-weight: 300;
    padding-left: 5px;
}
.contact{
    display: flex;
    justify-content: end;
    height: 30px;
    margin-top: 15px;
    padding-right: 20px;
    z-index: 20;

}
.contact .bi{
    color: white !important;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 15px;
    z-index: 20;
}









.profile-border{
    width: 300px;
    height: 300px;
    position: relative;
    transform: rotate(-50deg);
}
.profile-border svg{
    z-index: 7;
    
    position: absolute;
}
.stroke{
    stroke: rgba(255, 0, 0, 0.598);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 60, 2;
    stroke-linecap:round;
    fill: none;
}